.dropdown {
  display: flex;
  position: relative;
}
.dropdown-link {
  display: flex;
  background-color: green;
  padding: 10px 20px;
  color: aliceblue;
}
.dropdown-menu {
  display: none;
  background-color: pink;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  width: 400px;
  list-style: none;
  padding: 0;
}
.dropdown-item {
  width: 25%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.flex {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}
